{% extends 'vegefruti.html' %}

{% load static %} 

{% block body %}

<body
  class="goto-here"
  data-aos-easing="slide"
  data-aos-duration="800"
  data-aos-delay="0"
>
  <div class="py-1 bg-primary">
    <div class="container">
      <div
        class="row no-gutters d-flex align-items-start align-items-center px-md-0"
      ></div>
    </div>
  </div>

  <div
    class="hero-wrap hero-bread"
    style="background-image: url('images/bg_1.jpg')"
  >
    <div class="container">
      <div
        class="row no-gutters slider-text align-items-center justify-content-center"
      >
      <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">About Us</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            
            <li class="breadcrumb-item active text-white">About</li>
        </ol>
    </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
      <div class="row">
        <div
          class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate fadeInUp ftco-animated"
        >
          <div class="heading-section-bold mb-4 mt-md-5">
            <div class="ml-md-0">
              <h2 class="mb-4">Welcome to Vegefoods an eCommerce website</h2>
            </div>
          </div>
          <div class="pb-md-5">
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove right at the coast of the Semantics, a
              large language ocean.
            </p>
            <p>
              But nothing the copy said could convince her and so it didn’t take
              long until a few insidious Copy Writers ambushed her, made her
              drunk with Longe and Parole and dragged her into their agency,
              where they abused her for their.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-light p-5 rounded">
    <div class="row g-4 justify-content-center">
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="counter bg-white rounded p-5">
          <i class="fa fa-users text-secondary"></i>
          <h4>satisfied customers</h4>
          <h1>1963</h1>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="counter bg-white rounded p-5">
          <i class="fa fa-users text-secondary"></i>
          <h4>quality of service</h4>
          <h1>99%</h1>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="counter bg-white rounded p-5">
          <i class="fa fa-users text-secondary"></i>
          <h4>quality certificates</h4>
          <h1>33</h1>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="counter bg-white rounded p-5">
          <i class="fa fa-users text-secondary"></i>
          <h4>Available Products</h4>
          <h1>789</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid testimonial py-5">
    <div class="container py-5">
      <div class="testimonial-header text-center">
        <h4 class="text-primary">Our Testimonial</h4>
        <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
      </div>
      <div class="owl-carousel testimonial-carousel owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div
            class="owl-stage"
            style="
              transform: translate3d(-1029px, 0px, 0px);
              transition: all 2s ease 0s;
              width: 2401px;
            "
          >
            <div
              class="owl-item cloned"
              style="width: 318px; margin-right: 25px"
            >
              <div
                class="testimonial-item img-border-radius bg-light rounded p-4"
              >
                <div class="position-relative">
                  <i
                    class="fa fa-quote-right fa-2x text-secondaryposition-absolute"
                    style="bottom: 30px; right: 0"
                  ></i>
                  <div class="mb-4 pb-4 border-bottom border-secondary">
                    <p class="mb-0">
                      Lorem Ipsum is simply dummy text of the printing Ipsum has
                      been the industry's standard dummy text ever since the
                      1500s,
                    </p>
                  </div>
                  <div class="d-flex align-items-center flex-nowrap">
                    <div class="bg-secondary rounded">
                      <img
                        src="{% static 'img/testimonial-1.jpg' %}"
                        class="img-fluid rounded"
                        style="width: 100px; height: 100px"
                        alt=""
                      />
                    </div>
                    <div class="ms-4 d-block">
                      <h4 class="text-dark">ClientName</h4>
                      <p class="m-0 pb-3">Profession</p>
                      <div class="d-flex pe-5">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="owl-item cloned"
              style="width: 318px; margin-right: 25px"
            >
              <div
                class="testimonial-item img-border-radius bg-light rounded p-4"
              >
                <div class="position-relative">
                  <i
                    class="fa fa-quote-right fa-2x text-secondary position-absolute"
                    style="bottom: 30px; right: 0"
                  ></i>
                  <div class="mb-4 pb-4 border-bottom border-secondary">
                    <p class="mb-0">
                      Lorem Ipsum is simply dummy text of the printing Ipsum has
                      been the industry's standard dummy text ever since the
                      1500s,
                    </p>
                  </div>
                  <div class="d-flex align-items-center flex-nowrap">
                    <div class="bg-secondary rounded">
                      <img
                        src="{% static 'img/testimonial-1.jpg' %}"
                        class="img-fluid rounded"
                        style="width: 100px; height: 100px"
                        alt=""
                      />
                    </div>
                    <div class="ms-4 d-block">
                      <h4 class="text-dark">Client Name</h4>
                      <p class="m-0 pb-3">Profession</p>
                      <div class="d-flex pe-5">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 318px; margin-right: 25px">
              <div
                class="testimonial-item img-border-radius bg-light rounded p-4"
              >
                <div class="position-relative">
                  <i
                    class="fa fa-quote-right fa-2x text-secondary position-absolute"
                    style="bottom: 30px; right: 0"
                  ></i>
                  <div class="mb-4 pb-4 border-bottom border-secondary">
                    <p class="mb-0">
                      Lorem Ipsum is simply dummy text of the printing Ipsum has
                      been the industry's standard dummy text ever since the
                      1500s,
                    </p>
                  </div>
                  <div class="d-flex align-items-center flex-nowrap">
                    <div class="bg-secondary rounded">
                      <img
                        src="{% static 'img/testimonial-1.jpg' %}"
                        class="img-fluid rounded"
                        style="width: 100px; height: 100px"
                        alt=""
                      />
                    </div>
                    <div class="ms-4 d-block">
                      <h4 class="text-dark">Client Name</h4>
                      <p class="m-0 pb-3">Profession</p>
                      <div class="d-flex pe-5">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 318px; margin-right: 25px">
              <div
                class="testimonial-item img-border-radius bg-light rounded p-4"
              >
                <div class="position-relative">
                  <i
                    class="fa fa-quote-right fa-2x text-secondary position-absolute"
                    style="bottom: 30px; right: 0"
                  ></i>
                  <div class="mb-4 pb-4 border-bottom border-secondary">
                    <p class="mb-0">
                      Lorem Ipsum is simply dummy text of the printing Ipsum has
                      been the industry's standard dummy text ever since the
                      1500s,
                    </p>
                  </div>
                  <div class="d-flex align-items-center flex-nowrap">
                    <div class="bg-secondary rounded">
                      <img
                        src="{% static 'img/testimonial-1.jpg' %}"
                        class="img-fluid rounded"
                        style="width: 100px; height: 100px"
                        alt=""
                      />
                    </div>
                    <div class="ms-4 d-block">
                      <h4 class="text-dark">Client Name</h4>
                      <p class="m-0 pb-3">Profession</p>
                      <div class="d-flex pe-5">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 318px; margin-right: 25px"
            >
              <div
                class="testimonial-item img-border-radius bg-light rounded p-4"
              >
                <div class="position-relative">
                  <i
                    class="fa fa-quote-right fa-2x text-secondary position-absolute"
                    style="bottom: 30px; right: 0"
                  ></i>
                  <div class="mb-4 pb-4 border-bottom border-secondary">
                    <p class="mb-0">
                      Lorem Ipsum is simply dummy text of the printing Ipsum has
                      been the industry's standard dummy text ever since the
                      1500s,
                    </p>
                  </div>
                  <div class="d-flex align-items-center flex-nowrap">
                    <div class="bg-secondary rounded">
                      <img
                        src="{% static 'img/testimonial-1.jpg' %}"
                        class="img-fluid rounded"
                        style="width: 100px; height: 100px"
                        alt=""
                      />
                    </div>
                    <div class="ms-4 d-block">
                      <h4 class="text-dark">Client Name</h4>
                      <p class="m-0 pb-3">Profession</p>
                      <div class="d-flex pe-5">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="owl-item cloned active"
              style="width: 318px; margin-right: 25px"
            >
              <div
                class="testimonial-item img-border-radius bg-light rounded p-4"
              >
                <div class="position-relative">
                  <i
                    class="fa fa-quote-right fa-2x text-secondary position-absolute"
                    style="bottom: 30px; right: 0"
                  ></i>
                  <div class="mb-4 pb-4 border-bottom border-secondary">
                    <p class="mb-0">
                      Lorem Ipsum is simply dummy text of the printing Ipsum has
                      been the industry's standard dummy text ever since the
                      1500s,
                    </p>
                  </div>
                  <div class="d-flex align-items-center flex-nowrap">
                    <div class="bg-secondary rounded">
                      <img
                        src="{% static 'img/testimonial-1.jpg' %}"
                        class="img-fluid rounded"
                        style="width: 100px; height: 100px"
                        alt=""
                      />
                    </div>
                    <div class="ms-4 d-block">
                      <h4 class="text-dark">Client Name</h4>
                      <p class="m-0 pb-3">Profession</p>
                      <div class="d-flex pe-5">
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star text-primary"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            </div>
            
          </div>
        </div>
        <div class="owl-nav">
          <div class="owl-prev"><i class="bi bi-arrow-left"></i></div>
          <div class="owl-next"><i class="bi bi-arrow-right"></i></div>
        </div>
        <div class="owl-dots">
          <div class="owl-dot"><span></span></div>
          <div class="owl-dot active"><span></span></div>
          <div class="owl-dot"><span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row">
        <div class="mouse">
          <a href="#" class="mouse-icon">
            <div class="mouse-wheel">
              <span class="ion-ios-arrow-up"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
{% endblock %}
