{% extends 'vegefruti.html' %}

{% block body %}
<br></br><br></br><br></br><br></br>
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			{% for i in data %}
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="{{i.img.url}}"  alt=""  style="height: 200px; width: 400px"/>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>{{i.categoryName}}</h3>
					<p class="single-product-pricing"><span></span> {{i.categoryDescription}}</p>
					<div class="single-product-form">
						<form action="index.html">
							<input type="number" placeholder="0">
						</form>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					
					</div>
					
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}